body {
  margin-left: 10px;
  margin-top: 10px;
}

.large-input {
  height: 30px;
  width: 90%;
}

h1,
h2 {
  font-family: Arial, sans-serif;
}

h1{
  color: #1abc9c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  width : 100%
}

label {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

li.question {
  display: block;
}

li h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

li ul {
  margin-left: 20px;
}

li ul li {
  margin-bottom: 5px;
}

li ul li input[type="checkbox"] {
  margin-right: 10px;
}

li ul li input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
}

li ul li input[type="text"]:focus {
  outline: none;
  border-color: #333;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid gray;
  transition: border-bottom-color 0.2s ease-in-out;
  width: 30%;
  outline: none; /* pour supprimer le focus */
}

input:hover {
  border-bottom-color: #ff007f;
}

button {
  margin-left: 10px;
  border-radius: 0px;
  background-color: white;
  border: 1px solid #ff007f;
  padding: 6px 10px;
  color: #ff007f;
}
h1{
  color: #1abc9c;
  text-align: center;
  justify-content: center;
  width: 100%;
}
button:hover {
  background-color: #1abc9c;
  color: white;
  border: 1px solid #1abc9c;
}

input[type="checkbox"]:checked {
  accent-color: #ff007f !important;
  border-radius: 0%;
}

button:focus {
  outline: none;
}

button::before {
  font-size: 20px;
  font-weight: bold;
}

ul {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

li ul li {
  display: flex;
  align-items: center;
}


li #deleteRep {
  margin-top : 5px;
  margin-right: 80%;
}

h3{
  display: flex;
}
#delQuest{
  border : 0px !important;
  padding: 0%;
  align-items: center;
  margin-top: 1.5px;
}
#delQuest:hover{
  background-color : transparent !important;
  color: #1abc9c;
}

#deleteRep,#saveRep {
  margin-left: auto;
  border : 0px !important;
}

#deleteRep:hover, #saveRep:hover {
  color: #1abc9c;
  background-color: transparent;
}

mat-card{
  width: 75%;
}

.card-container{
  display: flex; 
  justify-content: center;
}

mat-card.mat-mdc-card.mdc-card {
  margin-bottom: 20px;
}
.valide {
  background-color: #01ff9a;
}
