<div *ngIf="user | async as U">
    <p *ngIf="U.isAnonymous">Signed in as anonymous user</p>
    <p *ngIf="U.displayName">Welcome, {{ U.displayName }}</p>
    <!-- <img *ngIf="user.photoURL" [src]="user.photoURL" alt="Profile picture"> -->
    <!-- <button mat-button (click)="login()" *ngIf="showLoginButton">LOGIN</button> -->
    <!-- <button *ngIf="showLoginButton" (click)="login()">Sign in with Google</button> -->
    <button *ngIf="showLogoutButton" (click)="logout()">Sign out</button>
</div>
<button class="nav-link" *ngIf="showLoginButton" (click)="loginAnonymously()">Connection Anonyme</button>
<button class="nav-link" *ngIf="showLoginButton" (click)="login()">Se connecter</button>
