.navbar {
    background-color: #ff007f !important;
  }

button{
    background-color: #ff007f !important;
    border : 1px solid #fff;
    color : white;
}

button:hover{
    background-color: #1abc9c !important;
    border : 1px solid #1abc9c;
    color : white;
}
@media only screen and (max-width: 768px) {
    .navbar {
      background-color: #ff007f;
    }
  }