.box{
  height : 700px;
  background-image: url('https://img.freepik.com/vecteurs-premium/professeur-dessin-anime-debout-cote-tableau_29190-4062.jpg?w=2000'); 
  background-size: cover;
  background-position: center;
}

.button{
  text-align: center;
  background-color: #ff007f !important;
  border : 1px solid transparent;
  font-size: 20px;
  color : white;
  display: inline;
  margin-right: 5px;
  padding: 2%;
}

.button:hover{
  background-color: #1abc9c !important;
  border : 1px solid #1abc9c;
  color : white;
}

.box .mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}


.box2{
  height : 700px;
  background-image: url('https://img.freepik.com/free-vector/college-university-students-group-young-happy-people-standing-isolated-white-background_575670-66.jpg?w=2000'); 
  background-size: cover;
  background-position: center;
}