<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-content class="mat-card-content">
            <button class="button">Enseignant</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6">
      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box2">
          <mat-card-content class="mat-card-content">
            <button class="button">Enseignant</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>