<html>
  <body>
    <div class="left-side">
      <div class="left-text">
        <h1>Bienvenue Dans Votre Espace Miahoot</h1>
        <p>
          Un Miahoot est une plateforme interactive d'apprentissage en ligne qui
          permet de créer, partager et jouer à des quiz.
        </p>
      </div>
    </div>
    <div class="right-side">
      <img src="https://drive.google.com/uc?export=view&id=1Stfv6n9uo5ZMYfLU8xv6heN6JnFvfZSp" />
      <div class="buttons">
        <button class="button" (click)="login(1)">Enseignant</button>
        <button class="button" (click)="login(0)">Etudiant</button>
      </div>
    </div>
  </body>
</html>
