<!DOCTYPE html>
<html>
  <body>
    <h1>MIAHOOT</h1>
    <form>
      <div class="input-container">
        <div class="input-wrapper">
          <input
            type="number"
            pattern="[0-9]*"
            placeholder="Entrez le PIN..."
            id="pin"
            name="pin"
            [(ngModel)]="codePin"/>
          <button id="submit">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    <!--   <p *ngIf="pinSaisi && !pinValide">Aucun Miahoot trouvé avec ce PIN 😔</p> -->
      <div >
        <input
          type="text"
          placeholder="Nom de participant"
          id="nom"
          name="nom"
          [(ngModel)]="nom"
        />
      </div>
      <button
        type="submit"
        (click)="submitCodePin()"
      >
        Rejoindre la partie
      </button>
    </form>
     <!--Waves Container-->
  <div id="waves">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#17856f" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#1abc9c" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#00ffcc" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#daf7ee" />
        <use xlink:href="#gentle-wave" x="48" y="15" fill="#effffa" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
  </body>
</html>



