:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input {
    border: none;
    border-bottom: 1px solid #1abc9c;
    transition: border-bottom-color 0.2s ease-in-out;
    width: 100%;
    outline: none; /* pour supprimer le focus */
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-title {
    margin: 0 0 20px;
  }
  
  .form-button {
    margin-top: 20px;
  }

  
