<div class="header">
  <h2>Présentateur {{ miahootProjected.presentator }}</h2>
  <h3>Entrez pour participer : {{ miahootProjected.pin }}</h3>
  <h4>Code QR :</h4>
  <!-- <ngx-qrcode [qrcodeData]="miahootProjected.pin" (qrcodeSuccess)="submitCodePin()"></ngx-qrcode> -->

  <p>{{ miahootProjected.pin }}</p>
</div>
<button id="toggleButton" [ngClass]="showQuestion ? 'hide-question-button' : 'show-question-button'"
  (click)="inverse()">
  {{ showQuestion ? "Cacher la Question" : "Afficher la Question" }}
</button>

<div>
  <label for="questionTimer">Durée du timer (en secondes) :</label>
  <input type="number" id="questionTimer" [(ngModel)]="questionTimer" />
</div>

<!--        <div *ngIf="miahoot$ | async as miahoot">       -->
<div *ngIf="showQuestion">
  <mat-card>
    <mat-card>
      <div class="timer" *ngIf="showTimer">
        <p>Il vous reste</p>
        {{ formatTime(remainingTime ?? 0) }}
      </div>
      <mat-card-title>Question n° {{ miahootProjected.indexQuestion + 1 }} :
        {{
        miahootProjected.currentQCM[miahootProjected.indexQuestion].question
        }}</mat-card-title>
    </mat-card>
    <mat-list>
      <h3 mat-subheader>Réponses :</h3>
      <mat-list-item *ngFor="
          let reponse of miahootProjected.currentQCM[
            miahootProjected.indexQuestion
          ].responses;
          let j = index
        " [ngClass]="{
          'correct-answer': showAnswers && reponse.estValide,
          'incorrect-answer': showAnswers && !reponse.estValide
        }">
        {{ j + 1 }} : {{ reponse.label }}
        <mat-icon *ngIf="showAnswers && reponse.estValide" class="answer-icon">check_circle</mat-icon>
        <mat-icon *ngIf="showAnswers && !reponse.estValide" class="answer-icon">cancel</mat-icon>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button (click)="afficherRep()">
      {{ showAnswers ? "Cacher les réponses" : "Afficher les réponses" }}
    </button>
    <button mat-raised-button color="primary" [disabled]="miahootProjected.indexQuestion === 0"
      (click)="questionSwitcher(-1)">
      Question précédente ⬅️
    </button>
    <button mat-raised-button color="primary" (click)="questionSwitcher(1)" [disabled]="
        miahootProjected.indexQuestion ===
        miahootProjected.currentQCM.length - 1
      ">
      Question suivante ➡️
    </button>
    <button mat-raised-button (click)="retToMyMiahoot()">
      Retourner à mes miahoot
    </button>
  </mat-card>s
</div>

<button (click)="getNamesFromVotesCollection(miahootProjected.indexQuestion)">
  Afficher les noms des participants
</button>

<ul *ngIf="showParticipants">
  <li *ngFor="let name of participantNames; let i=index" >
    {{ name }} a repondu  {{voteDesparticipants[i] }}
  </li>
</ul>

<button (click)="getVotes(miahootProjected.indexQuestion)"> voir les nombres de vote </button>

<ul *ngIf="this.showVotes">
  <li *ngFor="let reponse of miahootProjected.currentQCM[miahootProjected.indexQuestion].responses; let j = index">
    <div class="reponse-label">{{reponse.label}}</div>
    <div class="pourcentage-bar-container">
      <div class="pourcentage-bar" [style.width.%]="(votes[j] / totalVotes * 100).toFixed(2)">
        {{ (votes[j] / totalVotes * 100).toFixed(2) }}%
      </div>
    </div>
  </li>
</ul>
    <button (click)="getVoteCounts(miahootProjected.indexQuestion)"> afficher les reponses des gens </button>
    
    <ul *ngFor="let item of voteResults | keyvalue">
      <li>{{ item.key }} a repondu {{ item.value }} fois </li>
    </ul>

<!-- </div>-->